<h1>Made by COSMO team</h1>

<div>
  <img src="assets/aboutourproduct.jpg" alt="about product" style="width: 500px">
  <h2>WE are happy to welcome everyone to our page. Now learn more about our product ®️
    OUR product is-unique 🦄 , beautiful🥺 and fascinating 🤩 paintings made using your own SPACE style 🌌  ☄ ️
    If YOU want to make an unusual gift 💝 for your loved one then you have come to the right place 💌</h2>
</div>

<a>
  Click to check Instagram page:
</a>

<a class="inst" href="https://www.instagram.com/cosmo.canvas/" target="_blank">@cosmo.canvas</a>

