<!--<h1>We make people happy</h1>-->

<!--&lt;!&ndash;<img src="https://i.gifer.com/DQFI.gif" alt="">&ndash;&gt;-->

<!--&lt;!&ndash;<h1 class="absolute">x</h1>&ndash;&gt;-->
<!--<div style="display: flex">-->
<!--  <img src="assets/post1.jpg" style="width: 400px">-->

<!--  <h2 style="margin: 50px">ldskfjslkdfj lskdfjsdfj sfjkldsflskdflksj </h2>-->
<!--</div>-->
<!--<a href="https://www.instagram.com/cosmo.canvas/" target="_blank">-->
<!--  C O S M O-->
<!--</a>-->


<!--<body>
  <div class="slider">
    <div class="slides">
      <div id="slide-1">
        <img class="slides-post" src="assets/post4l.jpg" alt="">
      </div>
      <div id="slide-2">
        <img class="slides-post" src="assets/post4r.jpg" alt="">
      </div>
      <div id="slide-3">
        <img class="slides-post" src="assets/post1.jpg" alt="">
      </div>
      <div id="slide-4">
        <img class="slides-post" src="assets/post3.jpg" alt="">
      </div>
      <div id="slide-5">
        <img class="slides-post" src="assets/post5.jpg" alt="">
      </div>
    </div>
    <a href="#slide-1">1</a>
    <a href="#slide-2">2</a>
    <a href="#slide-3">3</a>
    <a href="#slide-4">4</a>
    <a href="#slide-5">5</a>
  </div>
</body>-->

<body>

  <h1 style="font-size: 50px">Our product</h1>

  <div class="main-block">
    <div class="prod-desc">
      <div class="simple-ss"></div>
      <h1>We want to allow people to share their happiness and express their love for the people they care about.</h1>
    </div>
    <div class="prod-desc">
      <h1>We make a unique product - a portrait for each client with space elements.</h1>
      <div class="simple-ss1"></div>
    </div>
    <div class="prod-desc">
      <div class="simple-ss2"></div>
      <h1>We have a high-quality product: the print on the canvas is made on the latest generation machines.</h1>
    </div>
  </div>

<!--<footer>
  <div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d79969.
    51271377662!2d51.31609062405854!3d51.21820482141297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1
    !3m3!1m2!1s0x4171ba3876f94b7d%3A0x6771f0f3596acc1b!2z0KPRgNCw0LvRjNGB0Lo!5e0!3m2!1sru!2skz!4v1616650930865!5m2!1sru!2skz"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
  <div>
    <p>Contact us: </p>
    <div>
      <a href="https://www.instagram.com/cosmo.canvas/" target="_blank">
        <i class="fab fa-instagram"> Instagram</i>
      </a>
      <br>
      <a href="https://t.me/dyessenbek" target="_blank">
        <i class="fab fa-telegram"> Telegram</i>
      </a>
      <br>
      <a href="https://api.whatsapp.com/send/?phone=77475401306&text=%20%20%20%20%D0%A5%D0%BE%D1%87%D1%83
      +%20%20%20%20%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D1%83+%D0%BE%D1%82+COSMO%20CANVAS&app_absent=0" target="_blank">
        <i class="fab fa-whatsapp"> WhatsApp</i>
      </a>
    </div>
  </div>
</footer>-->
</body>
