body{
  text-align: center;
}

footer{
  margin-top: 400px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div{
  margin: 10px;
}

footer a{
  color: white;
  transition: all 0.3s ease;
}

footer a:hover{
  color: red;
}
