<body>
  <h2 style="font-size: 25px">Our product</h2>

  <div class="main-block">
    <div class="prod-desc">
      <div class="simple-ss"></div>
      <div class="simple-description">
        <h1>We want to allow people to share their happiness and express their love for the people they care about.</h1>
      </div>
    </div>
    <div class="prod-desc">
      <div class="simple-description">
        <h1>We make a unique product - a portrait for each client with space elements.</h1>
      </div>

      <div class="simple-ss1"></div>
    </div>
    <div class="prod-desc">
      <div class="simple-ss2"></div>
      <div class="simple-description">
        <h1>We have a high-quality product: the print on the canvas is made on the latest generation machines.</h1>
      </div>
    </div>
  </div>
</body>
